@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --construction-yellow: #FFC107;
  --nourish-red: #5a2a27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-nourish-red: var(--nourish-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}


.font-handwritten {
  font-family: var(--font-homemade-apple);
}

.font-sans {
  font-family: var(--font-geist-sans);
}

.font-mono {
  font-family: var(--font-geist-mono);
}

.font-serif {
  font-family: var(--font-playfair);
}