@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --construction-yellow: #FFC107;
    --nourish-red: #5a2a27;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-nourish-red: var(--nourish-red);
    --color-construction-yellow: var(--construction-yellow);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@layer utilities {
    .font-handwritten {
        font-family: var(--font-homemade-apple);
    }
    .font-serif {
        font-family: var(--font-playfair);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
